---
import Layout from '../layouts/Layout.astro';

const news = [
  {
    image: '/images/img04.jpg',
    category: 'Manila Bulletin',
    title:
      'BOC RAIDS SULU WAREHOUSE, SEIZES P1.4B WORTH OF SMUGGLED CIGARETTES',
    description:
      'The Bureau of Customs (BOC) has been on a roll in its big-time ant-smuggling campaigns as it confiscated, this time, around P1.4 billion worth of cigarettes in a raid on a warehouse in Sulu on Thursday, March 2.',
  },
  {
    image: '/images/img03.jpg',
    category: 'Manila Bulletin',
    title:
      'P26-M smuggled cigarettes declared as plastic cups seized in Port of Davao',
    description:
      'Close to 1,000 master cases of smuggled cigarettes worth P26 million were intercepted at the Port of Davao, the Bureau of Customs (BoC) said on Tuesday.',
  },
  {
    image: '/images/img04.jpg',
    category: 'Manila Bulletin',
    title:
      'P26-M smuggled cigarettes declared as plastic cups seized in Port of Davao',
    description:
      'Close to 1,000 master cases of smuggled cigarettes worth P26 million were intercepted at the Port of Davao, the Bureau of Customs (BoC) said on Tuesday.',
  },
  {
    image: '/images/img03.jpg',
    category: 'Manila Bulletin',
    title:
      'P26-M smuggled cigarettes declared as plastic cups seized in Port of Davao',
    description:
      'Close to 1,000 master cases of smuggled cigarettes worth P26 million were intercepted at the Port of Davao, the Bureau of Customs (BoC) said on Tuesday.',
  },
];
---

<Layout title='EKIS Hotspots'>
  <main class='pt-[100px] flex-grow'>
    <!-- MAP -->
    <section class='flex justify-center'>
      <div id='ekisChart' class='h-[800px] min-w-[310px] w-[800px]'></div>

      <!-- OVERLAY -->
      <div
        class='fixed inset-0 z-50 hidden transition duration-300 ease-out opacity-0'
        data-popover-name='popover'
      >
        <div
          class='relative w-full h-screen px-10 py-16 overflow-auto bg-black lg:flex lg:items-center lg:justify-center lg:px-20'
        >
          <button
            class='absolute top-0 right-0 px-4 py-2 mt-4 font-medium text-white underline'
            data-close-popover
            >Close
          </button>

          <div class='grid gap-5 lg:grid-cols-2 place-items-center'>
            <div class='flex'>
              <!-- Image 1 -->
              <img src='' alt='Image 09' class='object-cover image1' />
            </div>

            <article class='grid items-center w-full gap-5'>
              <!-- Image 2 -->
              <img src='' alt='Image 03' class='object-cover image2' />

              <div class='prose text-white max-w-7xl'>
                <!-- Catgory -->
                <span
                  class='block text-lg italic text-ekis md:text-xl category'
                >
                </span>
                <!-- Title -->
                <h3 class='mt-2 text-xl text-white md:text-2xl title'></h3>
                <!-- Description -->
                <p class='text-sm md:text-base description'></p>
                <!-- Link -->
                <a
                  href='/hotspots-article'
                  class='text-white underline hover:opacity-60 link'
                >
                  READ MORE
                </a>
              </div>
            </article>
          </div>
        </div>
      </div>
      <!-- END OVERLAY -->
    </section>
    <!-- END MAP -->

    <!-- LATEST NEWS -->
    <section class='py-12 bg-black lg:py-16'>
      <h2
        class='text-slate-50 text-[2rem] lg:text-[2.5rem] font-bold text-center'
      >
        LATEST NEWS
      </h2>

      <div class='py-10'>
        {
          news.map((latest) => (
            <article class='grid lg:grid-cols-2 gap-5 w-full px-6 md:px-0 md:w-[90%] md:mx-auto xl:w-3/4 items-center mb-10'>
              <img src={latest.image} alt={latest.title} class='object-cover' />

              <div class='prose max-w-7xl'>
                <span class='block text-lg italic text-ekis md:text-xl'>
                  {latest.category}
                </span>
                <h3 class='mt-2 text-xl text-slate-50 md:text-2xl'>
                  {latest.title}
                </h3>
                <p class='text-sm md:text-base text-slate-50'>
                  {latest.description}
                </p>
                <a
                  href='/hotspots-article'
                  class='underline text-slate-50 hover:opacity-60'
                >
                  READ MORE
                </a>
              </div>
            </article>
          ))
        }
      </div>

      <!-- Button View News Article -->
      <div class='flex justify-center space-x-5'>
        <!-- <button
          class='px-10 py-3 text-sm text-white uppercase rounded-full lg:px-16 bg-ekis hover:opacity-80'
        >
          PREVIOUS PAGE
        </button> -->
        <button
          class='px-10 py-3 text-sm text-white uppercase rounded-full lg:px-16 bg-ekis hover:opacity-80'
        >
          NEXT PAGE
        </button>
      </div>
      <!-- END Button View News Article -->
    </section>
    <!-- END LATEST NEWS -->

    <section class='w-full'>
      <picture>
        <source media='(min-width: 640px)' srcset='/images/img06.jpg' />
        <img
          src='/images/mobile-img06.jpg'
          alt='Image 06'
          class='object-cover w-full max-h-[600px]'
        />
      </picture>
    </section>
  </main>
</Layout>
