---
import Layout from '../layouts/Layout.astro';
import Cities from '../components/Cities.astro';

const contacts = [
  {
    category: 'Philippines National Police',
    title: 'CRIMINAL INVESTIGATION AND DETECTION GROUP',
    number: '0977.327.5267',
    number2: '0951.059.3843',
    email: 'cidgnhqcrmc@gmail.com',
  },
  {
    category: 'Customer Assistance & Response Service',
    title: 'BUREAU OF CUSTOMS',
    number: '(02) 87056000',
    number2: '',
    email: 'boc.cares@customs.gov.ph',
  },
  {
    category: 'Operations Private Eye',
    title: 'PHILIPPINES DRIG ENFORCEMENT AGENCY',
    number: '0917867732',
    number2: '',
    email: 'info@ddb.gob.ph',
  },
];
---

<Layout title='Ekis Sumbungan'>
  <main class='pt-[100px] flex-grow'>
    <!-- FILE A REPORT -->
    <section class='w-full bg-[#e8e8e8]'>
      <div class='px-8 py-10 mx-auto prose md:py-16 max-w-7xl'>
        <h2 class='text-ekis text-[1.5rem] lg:text-[2.5rem] text-center mb-2'>
          FILE A REPORT
        </h2>
        <h3 class='text-[1.2rem] lg:text-[1.5rem] text-center text-gray-900'>
          REPORT A SMUGGLING-RELATED CRIME
        </h3>
        <div class='max-w-3xl mx-auto text-center'>
          <p>
            We rely on the knowledge of the supply chain trade, the community
            and the general public. Your information could lead to the detection
            and seizure of smuggled goods, dangerous drugs, or the import and
            export of illegal firearms, currency or wildlife.
          </p>

          <p>
            You can help by reporting any possible unlawful or irregular
            activity to authorities.
          </p>
        </div>
      </div>
    </section>
    <!-- END FILE A REPORT -->

    <!-- FORM SUBMISSION -->
    <section class='relative bg-[#e8e8e8] lg:pb-5 lg:px-20'>
      <!-- STEPS -->
      <div
        class='grid gap-5 mx-auto multisteps text-gray-900 lg:grid-cols-3 max-w-7xl place-items-center lg:px-14 xl:px-24'
      >
        <div class='hidden lg:inline active' data-step='1'>
          <h2 class='px-10 py-3 text-xl md:text-2xl whitespace-nowrap'>
            STEP 1: Details
          </h2>
        </div>
        <div class='hidden lg:inline' data-step='2'>
          <h2 class='px-10 py-3 text-xl md:text-2xl whitespace-nowrap'>
            STEP 2: Information
          </h2>
        </div>
        <div class='hidden lg:inline' data-step='3'>
          <h2 class='px-10 py-3 text-xl md:text-2xl whitespace-nowrap'>
            STEP 3: Confirmation
          </h2>
        </div>
      </div>
      <!-- END STEPS -->

      <!-- FORM -->
      <div
        class='px-5 py-10 mx-auto bg-white max-w-7xl mt-7 lg:my-7 lg:py-14 lg:px-10 lg:rounded-3xl'
      >
        <form class='w-full text-gray-900' id='form-wizard'>
          <!-- STEP 1 -->
          <div class='space-y-8 active' data-form='1'>
            <div class='grid items-center px-3 lg:grid-cols-3'>
              <label class='text-xl lg:text-[1.4rem] font-bold'>
                Ano ang isusumbong mo?</label
              >
              <div class='input-group lg:col-span-2'>
                <select
                  class='text-xl lg:text-[1.4rem] w-full mt-0 px-0.5 border-0 border-b-2 border-gray-300 focus:ring-0 focus:border-gray-900'
                  required
                >
                  <option disabled hidden selected value=''
                    >Please Select</option
                  >
                  <option value='ILLICIT TRADE - Pagbebenta ng pekeng sigarilyo'
                    >ILLICIT TRADE - Pagbebenta ng pekeng sigarilyo</option
                  >
                  <option value='Wedding'>Wedding</option>
                  <option value='Birthday'>Birthday</option>
                </select>

                <div class='error-message text-ekis text-sm'></div>
              </div>
            </div>

            <div class='grid items-center px-3 lg:grid-cols-3'>
              <label class='text-xl lg:text-[1.4rem] font-bold'>
                Kailan nangyari ang insidente?</label
              >
              <div class='input-group'>
                <input
                  type='text'
                  class='text-xl lg:text-[1.4rem] mt-0 block w-full px-0.5 border-0 border-b-2 border-gray-300 focus:ring-0 focus:border-gray-900'
                  placeholder=''
                  required
                />

                <div class='error-message text-ekis text-sm'></div>
              </div>

              <div class='grid items-center mt-8 lg:grid-cols-3 lg:mt-0'>
                <label
                  class='text-xl lg:text-[1.4rem] font-bold lg:text-right lg:mr-4'
                >
                  Oras:</label
                >
                <div class='input-group lg:col-span-2'>
                  <input
                    type='time'
                    class='text-xl lg:text-[1.4rem] mt-0 block w-full px-0.5 border-0 border-b-2 border-gray-300 focus:ring-0 focus:border-gray-900'
                    placeholder=''
                    required
                  />
                  <div class='error-message text-ekis text-sm'></div>
                </div>
              </div>
            </div>

            <div class='grid items-center px-3 lg:grid-cols-3'>
              <label class='text-xl lg:text-[1.4rem] font-bold'>
                Location kung saan naganap?
              </label>

              <div class='input-group lg:col-span-2'>
                <select
                  id='cities'
                  class='text-xl lg:text-[1.4rem] w-full mt-0 px-0.5 border-0 border-b-2 border-gray-300 focus:ring-0 focus:border-gray-900'
                  required
                >
                  <option disabled hidden selected value=''
                    >Please Select</option
                  >
                </select>
                <div class='error-message text-ekis text-sm'></div>
              </div>
            </div>

            <div class='grid px-3 space-y-3 lg:grid-cols-3 lg:space-y-0'>
              <label class='text-xl lg:text-[1.4rem] font-bold'>
                Ikwento kung ano ang nangyari
              </label>

              <div class='input-group lg:col-span-2'>
                <textarea
                  class='text-xl lg:text-[1.4rem] p-3 mt-0 block w-full border-2 border-gray-300 focus:ring-0 focus:border-gray-900'
                  required
                  rows='5'></textarea>
                <div class='error-message text-ekis text-sm'></div>
              </div>
            </div>

            <div class='grid px-3 space-y-3 lg:grid-cols-3 lg:space-y-0'>
              <label class='text-xl lg:text-[1.4rem] font-bold'>
                Mag-upload ng picture ng insidente (optional)
              </label>
              <div
                class='w-full p-4 border border-gray-400 border-dashed rounded-lg lg:col-span-2'
              >
                <div class='text-gray-500'>
                  <div class='flex justify-between'>
                    <span>Drag and drop your images here</span>
                    <label
                      for='image-upload'
                      class='px-4 py-2 rounded-lg cursor-pointer text-slate-50 bg-ekis'
                    >
                      Browse
                    </label>
                  </div>

                  <input
                    id='image-upload'
                    type='file'
                    accept='image/*'
                    multiple
                    class='hidden'
                  />
                </div>
                <div
                  id='image-preview-container'
                  class='flex flex-wrap justify-center mt-4'
                >
                </div>
              </div>
            </div>

            <!-- NEXT BUTTON -->
            <div class='flex justify-center lg:justify-end'>
              <button
                type='button'
                class='px-10 py-3 text-sm uppercase rounded-full text-slate-50 next-btn bg-ekis hover:opacity-80'
              >
                NEXT
              </button>
            </div>
            <!-- END NEXT BUTTON -->
          </div>
          <!-- END STEP 1 -->

          <!-- STEP 2 -->
          <div class='hidden space-y-8' data-form='2'>
            <div class='grid items-center px-3 lg:grid-cols-3'>
              <label class='text-xl lg:text-[1.4rem] font-bold'>
                Pangalan ng Informant:</label
              >
              <div class='input-group lg:col-span-2'>
                <input
                  type='text'
                  class='text-xl lg:text-[1.4rem] mt-0 block w-full px-0.5 border-0 border-b-2 border-gray-300 focus:ring-0 focus:border-gray-900'
                  placeholder='Last Name, First Name'
                  required
                />

                <div class='error-message text-ekis text-sm'></div>
              </div>
            </div>

            <div class='grid items-center px-3 lg:grid-cols-3'>
              <label class='text-xl lg:text-[1.4rem] font-bold'>
                Contact Number:</label
              >

              <div class='input-group lg:col-span-2'>
                <input
                  type='text'
                  class='text-xl lg:text-[1.4rem] mt-0 block w-full px-0.5 border-0 border-b-2 border-gray-300 focus:ring-0 focus:border-gray-900'
                  placeholder='(+63) XXX XXX XXXX'
                  required
                  inputmode='tel'
                />

                <div class='error-message text-ekis text-sm'></div>
              </div>
            </div>

            <div class='grid items-center px-3 lg:grid-cols-3'>
              <label class='text-xl lg:text-[1.4rem] font-bold'>
                Email Address:</label
              >

              <div class='input-group lg:col-span-2'>
                <input
                  type='text'
                  class='text-xl lg:text-[1.4rem] mt-0 block w-full px-0.5 border-0 border-b-2 border-gray-300 focus:ring-0 focus:border-gray-900'
                  placeholder='e.g. juandelacruz@gmail.com'
                  inputmode='email'
                  required
                />

                <div class='error-message text-ekis text-sm'></div>
              </div>
            </div>

            <div class='grid items-center px-3 lg:grid-cols-3'>
              <span class='text-xl lg:text-[1.4rem] font-bold'> </span>
              <div class='lg:col-span-2 flex'>
                <input
                  type='checkbox'
                  id='agree'
                  class='border-2 border-gray-300 rounded text-ekis focus:border-gray-300 focus:ring-ekis'
                />
                <label class='ml-2 -mt-1' for='agree'>
                  By checking this box I agree to the Terms & Conditions and
                  Privacy Policy and all information given is correct and
                  verified.
                </label>
              </div>
            </div>

            <!-- SUBMIT BUTTON -->
            <div class='flex justify-center space-x-3 lg:justify-end'>
              <button
                type='button'
                class='px-10 py-3 text-sm uppercase border-2 border-gray-900 rounded-full prev-btn hover:bg-gray-900 hover:text-slate-50 hover:opacity-80'
              >
                BACK
              </button>
              <button
                type='button'
                class='px-10 py-3 text-sm uppercase rounded-full text-slate-50 next-btn bg-ekis hover:opacity-80'
              >
                SUBMIT
              </button>
            </div>
            <!-- NEXT BUTTON -->
          </div>
          <!-- END STEP 2 -->

          <!-- STEP 3 -->
          <div class='hidden space-y-8' data-form='3'>
            <div class='flex justify-center'>
              <img
                src='/images/check01.png'
                alt='Check'
                class='object-contain h-[100px]'
              />
            </div>

            <div class='max-w-4xl mx-auto prose text-center'>
              <h3 class='text-ekis text-xl lg:text-[1.4rem]'>
                MARAMING SALAMAT SA INYONG REPORT!
              </h3>
              <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est
                exercitationem earum tempora quam, adipisci laborum ipsum?
                Sequi, natus ea repellat facilis dolor illum quam maxime et,
                tenetur dicta nisi tempore! Nostrum cupiditate voluptatem quis
                quidem corporis esse a debitis vitae.
              </p>
            </div>
          </div>
          <!-- END STEP 3 -->
        </form>
      </div>
      <!-- END FORM -->
    </section>
    <!-- END FORM SUBMISSION -->

    <!-- HOTLINES -->
    <section class='relative'>
      <img
        src='/images/img08.jpg'
        alt='Image 08'
        class='w-full object-cover h-[750px] lg:max-h-[600px]'
      />

      <div
        class='absolute w-full transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2'
      >
        <div
          class='flex flex-col items-center justify-between h-full px-2 mx-auto space-x-5 space-y-10 lg:px-20 max-w-7xl lg:flex-row'
        >
          <h2 class='text-6xl text-slate-50 sm:text-7xl font-anton lg:text-8xl'>
            KANINO PWEDE<br /> MAGSUMBONG?
          </h2>

          <div class='max-w-md space-y-4'>
            {
              contacts.map((contact) => (
                <div class='space-y-1 prose text-slate-50'>
                  <span>{contact.category}</span>
                  <h3 class='text-xl lg:text-[1.4rem] text-slate-50'>
                    {contact.title}
                  </h3>
                  <div class='font-light'>
                    <span class='block'>{contact.number}</span>
                    {contact.number2 && (
                      <span class='block'>{contact.number2}</span>
                    )}
                    <span class='block'>{contact.email}</span>
                  </div>
                </div>
              ))
            }
          </div>
        </div>
      </div>
    </section>
    <!-- END HOTLINES -->
  </main>
</Layout>
