---
import Layout from '../layouts/Layout.astro';
import Button from '../components/Button.astro';

const slides = [
  {
    image: '/images/img01.jpg',
    alt: 'Slider 1',
    text: 'Alamin ano ang EKIS',
    link: '/what-is-ekis',
  },
  {
    image: '/images/img01.jpg',
    alt: 'Slider 2',
    text: 'Lorem, ipsum dolor',
    link: '/what-is-ekis',
  },
  {
    image: '/images/img01.jpg',
    alt: 'Slider 3',
    text: 'Lorem ipsum dolor sit.',
    link: '/what-is-ekis',
  },
];

const news = [
  {
    image: '/images/img04.jpg',
    category: 'Manila Bulletin',
    title:
      'BOC RAIDS SULU WAREHOUSE, SEIZES P1.4B WORTH OF SMUGGLED CIGARETTES',
    description:
      'The Bureau of Customs (BOC) has been on a roll in its big-time ant-smuggling campaigns as it confiscated, this time, around P1.4 billion worth of cigarettes in a raid on a warehouse in Sulu on Thursday, March 2.',
  },
  {
    image: '/images/img03.jpg',
    category: 'Manila Bulletin',
    title:
      'P26-M smuggled cigarettes declared as plastic cups seized in Port of Davao',
    description:
      'Close to 1,000 master cases of smuggled cigarettes worth P26 million were intercepted at the Port of Davao, the Bureau of Customs (BoC) said on Tuesday.',
  },
];
---

<Layout title='Home'>
  <main class='pt-[100px] flex-grow'>
    <!-- Slider -->
    <section class='relative overflow-hidden'>
      <div class='w-full h-full swiper swiper-container'>
        <div class='swiper-wrapper'>
          {
            slides.map((slide) => (
              <div class='relative swiper-slide'>
                <picture>
                  <source media='(min-width: 640px)' srcset={slide.image} />
                  <img
                    src='/images/mobile-img01.jpg'
                    alt={slide.alt}
                    class='w-full max-h-[800px] object-cover'
                  />
                </picture>

                <div class='absolute transform -translate-x-1/2 top-3/4 left-1/2 -translate-y-3/4'>
                  <Button text={slide.text} link={slide.link} />
                </div>
              </div>
            ))
          }
        </div>
        <div class='swiper-pagination'></div>
      </div>
    </section>
    <!-- End Slider -->

    <!-- LATEST NEWS -->
    <section class='py-12 bg-black lg:py-16'>
      <h2 class='text-ekis text-[2rem] lg:text-[2.5rem] font-bold text-center'>
        LATEST NEWS
      </h2>

      <div class='py-10'>
        {
          news.map((latest) => (
            <article class='grid lg:grid-cols-2 gap-10 w-full px-6 md:w-[90%] md:mx-auto xl:w-3/4 items-center mb-10'>
              <img src={latest.image} alt={latest.title} class='object-cover' />

              <div class='text-white'>
                <span class='block pb-2 text-lg italic text-ekis md:text-xl'>
                  {latest.category}
                </span>
                <h3 class='pb-4 text-xl font-bold md:text-2xl'>
                  {latest.title}
                </h3>
                <p class='pb-6 text-sm md:text-base'>{latest.description}</p>
                <a href='/hotspots-article' class='underline hover:opacity-60'>
                  READ MORE
                </a>
              </div>
            </article>
          ))
        }
      </div>

      <!-- Button View News Article -->
      <div class='flex justify-center'>
        <a
          href='/what-is-ekis'
          class='px-8 py-3 text-sm text-white uppercase border-2 rounded-full lg:py-3 hover:bg-white hover:text-gray-600'
        >
          VIEW NEWS ARTICLE
        </a>
      </div>
      <!-- END Button View News Article -->
    </section>
    <!-- END LATEST NEWS -->

    <section class='relative'>
      <img
        src='/images/img02.jpg'
        alt='Image 02'
        class='w-full object-cover min-h-[400px] max-h-[600px]'
      />

      <div
        class='absolute w-full text-center transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2'
      >
        <h2 class='text-6xl lg:text-7xl font-anton'>NAPAPALIBUTAN NA TAYO!</h2>
        <div
          class='grid max-w-xs py-4 mx-auto space-y-4 md:space-y-0 md:space-x-4 md:grid-cols-2 md:max-w-lg'
        >
          <Button text='MAGFILE NG REPORT' link='/ekis-sumbungan' />
          <Button text='EKIS HOTSPOTS' link='/ekis-hotspots' />
        </div>
      </div>
    </section>
  </main>
</Layout>
